@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base-color: #00a3d4;
    --button-border: rgba(0, 0, 0, 0.3);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: var(--base-color);
    display: flex;
    justify-content: center;
    padding: 32px;
    font-size: 18px;
    font-weight: 300;
}

.todo{
    padding: 32px;
    background-color: #fff;
    width: 90vw;
    border-radius: 17px;
}

.todo__new{
    --size: 50px;
    display: flex;
    margin: 16px 0 32px;
}

.todo__new input {
    margin-right: 16px;
    font-size: 20px;
    padding: 8px 16px;
    height: var(--size);
    border: 1px solid var(--button-border);
    border-radius: 5px;
    flex-grow: 1;
}

.todo__add, 
.todo__task-del {
    cursor: pointer;
    text-align: center;
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    line-height: calc(var(--size) * 0.95);
    font-size: 30px;
    font-weight: 200;
    background-color: var(--base-color);
    color: white;
}

.todo__list{
    margin-top: 20px;
}

.todo__list > *:not(:last-child) {
    margin-bottom: 10px;
}

.todo__task {
    cursor: default;
    --size: 40px;
    display: flex;
    min-height: var(--size);
    align-items: center;
}

.todo__task:hover .todo__task-del {
    display: block;
}

.todo__task_complete .todo__task-text{
    text-decoration: line-through;
    color: var(--button-border);
}

.todo-checkbox {
    margin-right: 15px;
}
.todo-checkbox input {
    display: none;
}
.todo-checkbox input:checked + div {
    background-color: var(--base-color);
}
.todo-checkbox input:checked + div::after {
    display: block;    
}
.todo-checkbox div{
    --size: 28px;
    cursor: pointer;
    height: var(--size);
    width: var(--size);
    border: 1px solid var(--base-color);
    border-radius: 4px;
    position: relative;
}
.todo-checkbox div::after{
    content: '\2713';
    text-align: center;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.todo__task-text {
    font-size: 21px;
}

.todo__task-del {
    display: none;
    margin-left: auto;
    margin-right: 0;
    line-height: calc(var(--size) * 0.88);
    font-size: 40px;
}